body {font-family: 'Do Hyeon', sans-serif}

#panahScroll {
    animation: scroll .75s linear infinite;
}

.bx-chevron-right {
    animation: right .75s linear infinite;
}

.bx-chevron-left {
    animation: left .75s linear infinite;
}

@keyframes left{
    0%, 100%{
        transform: translateX(0);
    }

    50%{
        transform: translateX(-5px);
    }
}

@keyframes right{
    0%, 100%{
        transform: translateX(0);
    }

    50%{
        transform: translateX(5px);
    }
}



@keyframes scroll{
    0%, 100%{
        transform: translateY(0);
    }

    50%{
        transform: translateY(5px);
    }
}

.btn-styles {
    color: white;
    text-decoration: none;
    border: 1px solid white;
    padding: 18px;
    font-size: larger;
    transition: .5s ease;
}

.btn-styles:hover {
    background-color: white;
    color: black;

}


.hero-header {
    color: white;
    text-decoration: none;
    border: 1px solid white;
    padding: 28px 80px;
    font-size: larger;
}

.footer-header {
    color: white;
    text-decoration: none;
    border: 1px solid white;
    padding: 28px 20px;
    font-size: larger;
    transition: .5s ease;
}

.footer-header:hover {
    background-color: white;
    color: black;
}

.header {
    color: white;
    text-decoration: none;
    border: 1px solid white;
    padding: 28px 42px;
    font-size: larger;
}